<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clothing Store</title>
    <link rel="stylesheet" href="{% static 'css/main-style.css' %}" />
  </head>

  <body>
    <section class="header">
      <a href="/">
        <h1 class="main-title">Main page</h1>
      </a>
      <nav class="nav-bar">
        <a href="{% url 'category_list' %}">
          <h1>Category</h1>
        </a>
        <a href='{%url "product_list" %}'>
          <h1>Product</h1>
        </a>
      </nav>
    </section>

    <div>{% block content %} {%endblock%}</div>
    {%include 'footer.html'%}
  </body>
</html>
